################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlightTracking/v16/Server/sqlite3
/FlightTracking/obj/Debug
/FlightTracking/Migrations/201911101422379_RelationShips.cs
/FlightTracking/Migrations/201911101422379_RelationShips.Designer.cs
/packages/EntityFramework.6.4.0-preview2-19525-03/content/net40
/.vs/Flight-Tracking/v16
/FlightTracking/obj/Release
/FlightTracking/Migrations
/packages
