@model FlightTracking.Models.Passanger
@*
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<style>
    h1 {
        margin: 50%;
        color: blue;
    }

    span {
        color: aquamarine
    }
</style>*@

    <h1 style="margin:250px ; margin-right:180px"> WELCOME <span>@Model.Name</span> IN EGYPT 🤝❤🌸   </h1>



