@model FlightTracking.Models.Stages

<div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.HiddenFor(m => m.StageID);
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Move To Next Stage</button>
            </div>
        </div>
    }
</div>

