
@{
    ViewBag.Title = "PassangerSearch";
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}

<h2>PassangerSearch</h2>
<label>Search for your passanger</label>
<form method="post">
    <input type="text" name="Id" />
    <input type="submit" />
</form>
